<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pato ataca!</title>
    <link rel="stylesheet" href="../CSS/Layout.css">
</head>
<body>

    <div id="NavBar">
        <ul>
            <li><a href="../Index.html">Home</a></li>
            <li><a href="Contato.html">Contato</a></li>
            <li><a href="Sobre.html">Sobre a Kase News</a></li>
        </ul>
    </div>

    <div class="containerimg">
        <img src="../Img/Pato.jpg" alt="Imagem_pato">
        <div class="text">Pato ataca novinha da quebrada!!</div>
    </div>

    <div class="containerartigo">
        <p>A jovem relata que estava em seu dia habitual em meio suas drogras quando um pato a ameaça <br>
            com uma colher! "foi simplesmente aterrorisante! do nada ele chegou gritando 'Quack!!' <br>
            não tive escolha se não lhe passar todo pó da alegria que avia comigo." Confira aqui!</p>
    </div>
</body>
</html>