<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../CSS/Layout.css">
</head>
<body>
    <div id="NavBar">
        <ul>
            <li><a href="../Index.html">Home</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="Sobre.html">Sobre a Kase News</a></li>
        </ul>
    </div>

    <div class="Contato">
        <h1>Entre em contato com o criador do site!</h1>
        <p>Telefone: (69) 96969-6969</p>
        <p>Email: CaçadorDeMorenas@email.com</p>
        <p>Linkedin: @GostosãoDaMoto</p>
    </div>
</body>
</html>